/* my diy css
 * for template:site
 *
}
 */
body {
  padding-top: 20px;
  font-size:20px;
}
.starter-template {
  padding: 20px 15px;
  text-align: left;
  margin-top: 20px;
}
h1,h2,h3,h4,h5,h6{
text-shadow: 2px 2px 2px #DDD;
}
.justcenter{
text-align:center
}
em{
  color: green;
  font-style: normal;
  }
.page-nav{
    float:right;
    width:auto;
    margin-right:36px;
    padding:12px 36px 12px 0;
    clear:both;
}
pre{
    font-size:18px;
    font-family:Playfair Display,"Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}
